.delete-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-button {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 0.2em;
  outline: none;
  outline-style: none;
}

.colors {
  display: flex;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}
